<%- include('./partials/head') %>

    <header>
        <h1>GET <span>INSPIRED</span></h1>
        <p>Need some inspiration to get through the day? We got you!</p>
        <a>⇩</a>
    </header>
    <main>
        <h2>Hi there!</h2>
        <p>We haven't found any quotes for you yet...</p>
        <button>Filter</button>

        <ul>
            <% data.forEach(function(quote) { %>   
                <li> 
                    <p> <%- quote.text %></p>
                    <div>
                        <img src='<%- quote.avatar %>' alt='Profielfoto' onerror="this.src='./images/placeholder.jpeg'">
                        <h3><%- quote.name %></h3>
                    </div
                </li>
            <% }) %>
        </ul>

        <section>
            <button>X</button>
            <h3>Filter on</h3>
            <div>
                <button class="selected">Subjects</button>
                <button>Author</button>
            </div>
            <form class="show"> <!-- Filter for tags -->
                <h3>What subjects are you interested in?</h3>
                <section>
                    <!-- There will load a checkbox list here through js -->
                </section>
                <button>Show the quotes!</button>
            </form>
            <form> <!-- Filter for author -->
                <h3>What authors do you like?</h3>
                <section>
                    <!-- There will load a checkbox list here through js -->
                </section>
                <button>Show the quotes!</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>
<%- include('./partials/foot') %>