<%- include('./partials/head') %>

    <header>
        <h1>GET <span>INSPIRED</span></h1>
        <p>Need some inspiration to get through the day? We got you!</p>
        <button>⇩</button>
    </header>
    <main id='main'>
        <h2>Hi there!</h2>
        <p>Here are some quotes for you!</p>
        <button>Filter</button>

        <ul>
            <% data2.forEach(function(quote) { %>   
                <li> 
                    <p> <%- quote.text %></p>
                    <div>
                        <img src='<%- quote.avatar %>' alt='Profielfoto' sizes="10vw" onerror="this.src='./images/placeholder.jpeg'">
                        <h3><%- quote.name %></h3>
                    </div
                </li>
            <% }) %>
        </ul>

        <section>
            <button>X</button>
            <h3>Filter on</h3>
            <div>
                <button class="selected">Subjects</button>
                <button>Author</button>
            </div>
            <form class="show" method="get" action="/search"> <!-- Filter for tags -->
                <h3>What subjects are you interested in?</h3>
                <section>
                    <%  let tags = data.map(data =>{
                        return data.tags.split(',')
                    })

                    let allTags = [...new Set(tags.flat(1))]

                    allTags.sort()

                    allTags.forEach(data => { %>   
                        <div>
                            <input type="checkbox" id="<%- data %>" name="query" value="<%- data %>">
                            <label for="<%- data %>"> <%- data %></label>
                        </div>
                    <% }) %>
                    <button>Show the quotes!</button>
                </section>
                
            </form>
            <form method="get" action="/search"> <!-- Filter for author -->
                <h3>What authors do you like?</h3>
                <section>
                    <% 
                    let auhtors = data.map(function(quote) { return quote.name })
                    
                    let allAuhtor = [...new Set(auhtors.flat(1))]

                    allAuhtor.sort()

                    allAuhtor.forEach(data => { %>   
                        <div>
                            <input type="checkbox" id="<%- data %>" name="query" value="<%- data %>" >
                            <label for="<%- data %>"> <%- data %></label>
                        </div>
                    <% }) %>
                </section>
                <button>Show the quotes!</button>
            </form>
        </section>
    </main>
    <footer>

    </footer>
<%- include('./partials/foot') %>